.CodeMirror {
    border: 1px solid black;
    font-size: 13px;
    height: 450px;
}

footer{
    height: 50px;
    background-color: #343a40;
    color: white;
    text-align: center;
}


/* unvisited link */
a:link {
  color: #0492C2;
}

/* visited link */
a:visited {
  color: #0492C2;
}

/* mouse over link */
a:hover {
  color: darkorange;
}

/* selected link */
a:active {
  color: #0492C2;


.btn-default:hover {
    color: #fff;
    background-color: darkred;
    border-color: #333;
font-weight: bold;
}

.btn-default {
   color: #343a40;
    background-color: #EA9999;
    border-color: #333;
font-weight: bold;

}
.btn-success {
    color: #343a40;
    background-color: #B6D7A8;
    border-color: #333;
font-weight: bold;
}
.btn-success:hover {
    color: #fff;
    background-color:darkgreen;
    border-color: #333;
font-weight: bold;
}
.btn-danger {
    color: #343a40;
    background-color: #EA9999;
    border-color: #333;
font-weight: bold;
}
.btn-danger:hover {
    color: #fff;
    background-color:darkred;
    border-color: #333;
font-weight: bold;
}
.btn-warning {
    color: #343a40;
    background-color: #FFE599;
    border-color: #333;
font-weight: bold;
}
.btn-warning:hover {
    color: #fff;
    background-color:darkgoldenrod;
    border-color: #333;
font-weight: bold;
}
.btn-primary {
    color: #343a40;
    background-color: #FFE599;
    border-color: #333;
font-weight: bold;
}
.btn-primary:hover {
    color: #fff;
    background-color:darkgoldenrod;
    border-color: #333;
font-weight: bold;
}
.btn-info {
    color: #343a40;
    background-color: #FFE599;
    border-color: #333;
font-weight: bold;
}
.btn-info:hover {
    color: #fff;
    background-color:darkgoldenrod;
    border-color: #333;
font-weight: bold;
}



footer p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


#result{
  margin-bottom: 50px;
}

.navbar-default {
    background-color: #343a40;
}

.row{
  margin-bottom: 20px;
}

.sparql-example{
  cursor: pointer;
}

#xsltcontainer{
  display: none;
}

.panel-body{
  max-height: 450px;
  overflow: scroll;
}

.pre-scrollable {
    max-height: 550px;
    overflow-y: scroll;
}

#index-page {
    padding: 3px 15px;
}

#index-page img{
    border-radius: 15px;
}

.navbar {
    height: 85px !important;
